
.card-garden {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 200px;
  margin-top: 48px;
  margin-bottom: 16px;
}

.card-garden .img-garden {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-garden h2 {
  font-size: 16px;
  font-weight: bold;
  // margin: 0;
}

.card-garden p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-garden .card-garden-facilities {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-garden-facilities {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.garden-description {
  margin-bottom: 80px;
  margin-top: 18px;
}

.garden-chip {
    width: 28%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 9px;
    margin-right: 4px;
    background-color: #A7B773;
    border-radius: 16px;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 2px;
    padding-right: 4px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}


.garden-chip-img {
  vertical-align: middle;
  border-style: none;
  object-fit: contain;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  margin-left: 2px;
  margin-top: -4px;
}

.garden-chip-l {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 8px;
}

.facility-text {
  font-size: 11px;
  margin-top: 2px;
  margin-left: 2px;
}
// .show-avatar {
//   justify-content: flex-start;
//   display: flex;
//   padding-left: 16px;
// }


// .avatar-bordered {
//   width: 40px;
//   border-radius: 50%;
//   box-shadow: 0 1px 2px rgba(0,0,0,0.2);
//   border: white 1px solid;
// }

// .avatar {
//   width: 40px;
//   border-radius: 50%;
// }
