<div class="backgroundimage" style="background-image: url(' <%= image_url "landingpage.jpg" %>')">
<h1><strong>Discover, Meet & Share</strong></h1>

<div class="container">
  <div class="btn primary-btn">
    <%= link_to "Start Ride Now", new_trip_path, style: "color: white" %>
  </div>
</div>
</div>
