<div id="map" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" data-markers="<%= @markers.to_json %>">
</div>


<div class="container">
  <div class="", style="margin-bottom: 30px"> <!--need to add class -->
    <h1><strong>Select your route by picking a garden</strong></h1>
  </div>

  <div class=""> <!--need to add class with displayflex -->
    <div class="", style="margin-bottom: 30px"> <!--add info from api -->
      <p><strong>Distance:</strong></p>
    </div>

    <div class="", style="margin-bottom: 30px"> <!--add info from api  -->
      <p><strong>Elevation:</strong></p>
    </div>

    <div class="", style="margin-bottom: 30px"> <!--add info from api  -->
      <p><strong>Time:</strong></p>
    </div>
  </div>

</div>

