.primary-btn-landing {
  background: #D16014;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  width: 92%;
  opacity: 0.8;
  box-shadow: 0 8px 16px 0 rgba(49, 55, 21, 0.5), 0 6px 20px 0 rgba(49, 55, 21, 0.5);
  bottom: 0px;
  margin-bottom: 45px;
  margin-top: 20px;
  transition: opacity 0.3s ease;
  font-weight: 700;
  position: absolute;
}

.primary-btn-landing:hover {
  text-decoration: none;
  opacity: 0.9;
}

.secondary-btn-landing {
  margin-bottom: 347px !important;

}

.primary-btn {
  background: #D16014;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  width: 83%;
  opacity: 0.8;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  transition: opacity 0.3s ease;
  font-weight: 700;
  position: absolute;

  &-popup-select {
    position: relative;
    padding: 2px 8px;
    width: 112%;
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  &-popup-view {
    position: relative;
    padding: 2px 8px;
    width: 40%;
    font-size: 12px;
    margin-bottom: 10px;
    margin-right:10px;
  }

  &-view-page-buttons {
    position: relative;
    padding: 2px 8px;
    width: 40%;
    font-size: 12px;
    margin-left: 100px;
    margin-right: 100px;
  }

}

.primary-btn:hover {
  text-decoration: none;
  opacity: 0.9;
}

.secondary-btn {
  background: rgba(white, 0.6);
  color: #D16014;
  // border: 1px solid #D16014;
  border-radius: 3px;
  padding: 8px 24px;
  display: block;
  text-decoration: none;
  position: absolute;
  bottom: 0px;
  margin-bottom: 30px;
  width: 92%;
  box-shadow: 0 8px 16px 0 rgba(49, 55, 21, 0.5), 0 6px 20px 0 rgba(49, 55, 21, 0.5);
  transition: background 0.3s ease;
  font-weight: 700;
}

.secondary-btn:hover {
  text-decoration: none;
  opacity: 0.9;
}

.primary-btn-review {
  background: #D16014;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  width: 100%;
  opacity: 0.8;
  box-shadow: 0 8px 16px 0 rgba(49, 55, 21, 0.5), 0 6px 20px 0 rgba(49, 55, 21, 0.5);
  margin-top: 20px;
  transition: opacity 0.3s ease;
  font-weight: 700;
}

.primary-btn-review:hover {
  text-decoration: none;
  opacity: 0.9;
}



