// this is a simple form class that we are overwriting, you would only find it in the inspector but not in the files here
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  // font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: rgba(252, 246, 241, 0.7);
  background-clip: padding-box;
  border: 1px solid #FCF6F1;
  border-radius: 2px;
  transition: box-shadow 0.15s ease-in-out;
  box-shadow: 0 8px 16px 0 rgba(49, 55, 21, 0.2), 0 6px 20px 0 rgba(49, 55, 21, 0.2);
  justify-content: flex-start;
  align-self: center;
}

