.popup-title {
  padding-top: 12px;
  padding-left: 6px;
  text-align: center;
}

.mapboxgl-popup-close-button {
  color: transparent;
  border-color: transparent;
}

.banana .mapboxgl-popup {
  background-color: #96BB7C
}

.popup {
  background-color: #96BB7C
}
