#map {
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  position: inherit;
}

#map::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.mapbox-prison {
  height: 300px;
  max-height: 300px;
}
