.popup-title {
  padding-top: 12px;
  padding-left: 6px;
  text-align: center;
}

.mapboxgl-popup-close-button {
  color: transparent;
  border-color: transparent;
}


.popup {
  // background-color: #96BB7C;
  flex-direction: column
  // border-radius: 4px;
}

.container {
  flex-direction: column
}

// .mapboxgl-popup-content {
//   border-radius: 4px;
// }
