// .stats-container-elevation {
//   font-size: 14px;
//   width: 80px;
//   height: 80px;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   background-color: rgba(147, 159, 92, 0.5);
//   padding: 12px;
//   border-radius: 5px;
//   // box-shadow: 0 8px 16px 0 rgba(147, 159, 92, 0.5), 0 6px 20px 0 rgba(147, 159, 92, 0.5);
// }

.stats-container-distance {
  font-size: 14px;
  width: 145px;
  height: 88px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(147, 159, 92, 0.5);
  border-radius: 8px;
  padding: 10px;
  align-items: center;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
}

.stats-container-duration {
  font-size: 14px;
  width: 145px;
  height: 88px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(147, 159, 92, 0.5);
  border-radius: 8px;
  padding: 12px;
  align-items: center;
  // box-shadow: rgba(50, 50, 93, 0.9) 0px 50px 100px -20px, rgba(0, 0, 0, 0.9) 0px 30px 60px -30px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
}

.stats-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.font-description {
  font-size: 14px;
}

// .elevation-icon-stats {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 10px;
//   opacity: 0.9;
//   background-color: rgba(147, 159, 92, 0.8);
//   border-radius: 5px;
//   padding: 4px;
//   width: 30px;
// }

.distance-icon-stats {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  opacity: 0.9;
  background-color: rgba(147, 159, 92, 0.7);
  border-radius: 5px;
  padding: 4px;
  max-width: 57px;
  padding-bottom: 5px;
  // width: 40px;
}

.duration-icon-stats {
  display: flex;
  justify-content: center;
  opacity: 0.9;
  background-color: rgba(147, 159, 92, 0.7);
  border-radius: 5px;
  padding: 4px;
  max-width: 57px;
  margin: 0 auto 10px;
}
